.mistakes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  &__heading {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-align: center;
    line-height: 0.75;
  }

  &__subheading {
    font-size: 0.5em;
  }

  &__content {
    display: flex;
  }

  &__img {
    align-self: center;
    width: 202px;
    height: 360px;
    margin-right: 75px;
    background-image: url(../images/3homer.png);
    background-repeat: no-repeat;
  }

  &__bullet {
    position: relative;
    display: flex;
    flex-direction: column;
  
    &-heading {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 1.2em;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 30px;
        left: -30px;
        background-image: url(../images/icon-cross.png);
      }
    }
  }
}

@media (max-width: 740px) {
  .mistakes {
    &__content {
      flex-direction: column;
    }

    &__img {
      margin-right: 0;
    }

    &__bullets {
      display: flex;
      flex-direction: column;
      padding: 0 5px 0 40px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 560px) {
  .mistakes {

    &__heading {
      margin-top: 45px;
      margin-bottom: 30px;
      font-size: 2em;
      text-align: center;
      line-height: 1;
    }
  
    &__subheading {
      font-size: 0.7em;
    }

    &__img {
      width: 100%;
      height: 65vw;
      margin-right: 0;
      background-size: contain;
      background-position: 50% 50%;
    }

    &__bullets {
      display: flex;
      flex-direction: column;
    }
  }
}