$purple: #290a59;
$white-text: #fefefe;
$dark-orange: #e45f01;
$light-orange: #e9882e;
$shadow-dark: #3e3e3e;
$shadow-light: #fff;
$dark-purple: #3e2d59;
$light-purple: #563e7c;
$phone-purple: #5d5668;