@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('Robotolight.woff2') format('woff2'), url('Robotolight.woff') format('woff'), url('Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Robotolightitalic.woff2') format('woff2'), url('Robotolightitalic.woff') format('woff'), url('Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'lc-chalk';
    src: local('lc-chalk'), local('lc-chalk'), url('lc-chalk.woff2') format('woff2'), url('lc-chalk.woff') format('woff'), url('lc-chalk.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Cyrl 300';
    src: local('Museo Cyrl 300'), local('Museo Cyrl 300'), url('MuseoCyrl300.woff2') format('woff2'), url('MuseoCyrl300.woff') format('woff'), url('MuseoCyrl300.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}